<div style="padding:0 10px;">
    <nav class="navbar navbar-default">
        <div class="col-md-8">
            <h3>Hi, <%= username %></h3>
        </div>
        <div class="col-md-4">
            <a class="btn btn-primary" href="/admin/logout" style="margin-top:10px;float:right;">Logout</a>
        </div>
    </nav>
</div>
<div class="col-md-2">
    <div class="list-group">
        <a href="/admin/banners" class="list-group-item active">
            Banners
        </a>
        <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
        <a href="#" class="list-group-item">Morbi leo risus</a>
        <a href="#" class="list-group-item">Porta ac consectetur ac</a>
        <a href="#" class="list-group-item">Vestibulum at eros</a>
    </div>
</div>